.catalog_card{
    width: 20rem;
    height: 35rem;
    transition: 2s;

}
.catalog{
    display: grid;
    grid-template-columns: repeat(5, 20rem);
    column-gap: 3rem;
    row-gap: 4rem;
    font-size: 2rem;
}
img{
    width: 20rem;
    height: 30rem;
    object-fit:cover;
}

.catalog__card s{
color:#00000072;
}


.card__new{
background-color:#c8c8c8;
width: fit-content;
padding: 0 1rem 0 1rem;
letter-spacing: 0.3rem;
font-size: 1.6rem;
}
.card__name{
    margin: 0.5rem 0 1rem 0;
    
}
.card__sale{
    background-color:#ffd800;
width: fit-content;
padding: 0 1rem 0 1rem;
letter-spacing: 0.3rem;
font-size: 1.6rem;
}

