.footer {
    margin: 2rem 0 0 0;
    background-color: #d3d3d3;
    display: flex;
    justify-content: center;
}

.footer__nav {
    font-size: 2rem;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(4, 35rem);

}

.footer__block1 ul {
    list-style: none;
    line-height: 4rem;
    font-size: 1.6rem;
    text-align: left;
}

.footer__block1 a:hover {
    text-decoration: underline;
}

.footer__block1 h4 {
    margin: 0 0 0 0;
    color: #2d2d2d;
    padding: 3rem 0 0 1rem;
    line-height: 1rem;

}

.footer__downlinks {
    display: flex;
    grid-column: 1/5;
    justify-content: space-between;
}

.footer__language__logo {
    width: 2.5rem;
    height: 2.5rem;
    margin: 0 0 0 0;
    padding: 0 .5rem 0 0;
}

.footer__language {
    display: flex;
    align-items: center;
}

.footer__list li {
    list-style-type: none;
}

.footer__list ul {
    display: flex;
    justify-content: space-between;
    font-size: 1.5rem;
}

.footer__list { 
    width: 70%;
}