html,
body {
    font-size: 62.5%;
    font-family: Oswald, sans-serif;
    margin: 0;
    padding: 0;
    width:100%; 
    overflow-x:hidden;
}

.header {
    display: flex;
    background-color: #e6e6e6;
    margin: 0 2rem 0 2rem;
    padding: 1rem 1rem 1rem 1rem;
    justify-content: space-between;
}

.logo {
    cursor: pointer;
    width: 5rem;
    height: 5rem;
}

.header__text {
    font-size: 2.5rem;
    display: flex;
    display: inline-block;
    padding: 0 1rem 0.5rem 1rem;
    align-self: center;
}

.button__list {
    font-size: 2.3rem;
    cursor: pointer;
    background-color: #d9d9d9;
    border-radius: 0.5rem;
    text-align: center;
    display: inline-block;
    flex-wrap: nowrap;
    height: fit-content;
    transition: background-color 0.2s ease-out,
        color 0.2s ease-out;
}
.button__list a{
    display: inline-block;
width: 16rem;
}
.button__list:hover{
    text-decoration: none;
    background-color: #009f1c;
}

