.content {
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 20rem;
    width: fit-content;
    margin: auto;
}

.navbar {
    font-size: 2rem;
    margin-left: 5rem;
    grid-row: 1/3;
}

.navbar__hr {
    width: 22rem;
    margin: 2rem 0 0 0;
}

ul {
    padding: 0 0 0 1rem;
}

.navbar__list {
    font-size: 1.7rem;
    display: flex;
    line-height: 5rem;
    cursor: pointer;
}

a {
    text-decoration: none;
    color: black;
}

.navbar__list a:hover {
    text-decoration: underline;

}

.filter {
    margin: 0 0 1rem 0;
}

.filter__clear {
    margin: 0 0 0 0;
    color: #007F16;
    font-weight: bold;
    cursor: pointer;
}


.filter__hr {
    width: 8rem;
    margin: 1rem 0 1rem 0;
}






.dropdown-content-nav {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 100%;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content-nav a {
    color: black;
    padding: 10px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-nav {
    position: relative;
    display: inline-block;
}

.show-nav {
    display: block;
}

.dropdown-nav a:hover {
    background-color: #009f1c;
}

.dropbtn-nav {
    cursor: pointer;
    background-color: #ffffff;
    border-radius: 0.5rem;
    font-size: 1.9rem;
    font-family: Oswald, sans-serif;
    text-align: center;
    padding: 0 0rem 0.3rem 0rem;
    display: inline-block;
    width: 20rem;
    height: fit-content;
    transition: background-color 0.2s ease-out,
        color 0.2s ease-out;
}


.dropdown-content-nav {
    position:relative;
}

.dropbtn-nav:hover {
    text-decoration: none;
    background-color: #009f1c;
}