.content {
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 20rem;
    width: fit-content;
    margin: auto;
}

.navbar {
    font-size: 2rem;
    margin-left: 5rem;
    grid-row: 1/3;
}

.navbar__hr {
    width: 22rem;
    margin: 2rem 0 0 0;
}

ul {
    padding: 0 0 0 1rem;
}

.navbar__list {
    font-size: 1.7rem;
    display: flex;
    line-height: 5rem;
    cursor: pointer;
}

a {
    text-decoration: none;
    color: black;
}

.navbar__list a:hover {
    text-decoration: underline;

}

.filter {
    margin: 0 0 1rem 0;
}

.filter__clear {
    margin: 0 0 5rem 0;
    color: #007F16;
    font-weight: bold;
}

.filter__hr {
    width: 8rem;
    margin: 1rem 0 1rem 0;
}

.filter__buttons:hover {
    text-decoration: none;
    background-color: #009f1c;
}

.filter__buttons {
    padding: 0 1rem 0 1rem;
    cursor: pointer;
    background-color: #d9d9d9;
    border-radius: 0.5rem;
    text-align: left;
    padding: 0.5rem 1rem 0.5rem 2rem;
    display: inline-block;
    width: 16rem;
    height: fit-content;
    transition: background-color 0.2s ease-out,
        color 0.2s ease-out;
}