p {
    margin: 0;
}

.topnav {
    font-size: 2rem;
    display: flex;
    justify-content: space-between;

}

.topnav__title {
    display: flex;
}

.topnav__title h3 {
    padding: 0 2rem 0 0;
}

.topnav__rightside {
    display: flex;
    padding: 2rem 1rem 0 0;
}

.topnav__title__down h3 {
    margin: 0;
}

.topnav__title__down p {
    font-size: 1.5rem;
    margin: 0.5rem 0 1rem 0;
}

.topnav__title a:hover {
    text-decoration: underline;
}



.topnav__rightside {
    margin: 1rem 0 0 0;
    display: flex;
}

.topnav__rightside p {
    padding: 0 2rem 0 0;
}

.collect-filters {
    display: none;
}

.filter__clear:hover {
    text-decoration: underline;
}


/* ######################################################### */



.dropdown__mobile {
    display: none;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 100%;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 10px 16px;
    text-decoration: none;
    display: block;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.show {
    display: block;
}

.dropdown a:hover {
    background-color: #009f1c;
}


.mobile-drop h3 {
    margin: 1rem 0 0 1rem;
}

.moblist{
    margin-bottom: 2rem;
}

.filter__clear_mob{
    margin: 1rem 0 0 1rem;
    color: #007F16;
    font-weight: bold;
    cursor: pointer;
}

.dropbtn {
    cursor: pointer;
    background-color: #ffffff;
    border-radius: 0.5rem;
    font-size: 1.9rem;
    font-family: Oswald, sans-serif;
    text-align: center;
    padding: 0 0rem 0.3rem 0rem;
    display: inline-block;
    width: 14rem;
    height: fit-content;
    transition: background-color 0.2s ease-out,
        color 0.2s ease-out;
}

.dropbtn:hover {
    text-decoration: none;
    background-color: #009f1c;
}

.color {
    text-decoration: underline;
    color: #007F16;
}