@media (max-width:1609px) {
    .header {
        padding-left: 10rem;
    }
}



@media (max-width:1425px) {
    .footer__nav {
        grid-template-columns: repeat(4, 30rem);
    }

    .catalog {
        grid-template-columns: repeat(4, 20rem);
    }

    .footer__list {
        width: 80%;
    }
}

@media (max-width:1283px) {
    .ashka7 {
        display: none;
    }


}



@media (max-width:1240px) {
    .footer__nav {
        grid-template-columns: repeat(4, 20rem);

    }

    .footer__list ul {
        font-size: 1.4rem;
        flex-wrap: wrap;
    }
}





@media (max-width:1205px) {
    .catalog {
        grid-template-columns: repeat(3, 25rem);
        column-gap: 1rem;
        row-gap: 3rem;
    }


    .ashka22,
    .ashka33,
    .ashka44 {
        display: none;
    }


    .ico {
        padding: 1.5rem;
    }

    .navbar {
        margin: 0 2rem 0 2rem;
    }
}

@media(max-width:1063px) {
    .ashka6 {
        display: none;
    }
}

@media (max-width:1103px) {
    .catalog {
        grid-template-columns: repeat(3, 25rem);
        column-gap: 1rem;
        row-gap: 3rem;
    }



    .navbar {
        margin: 0 2rem 0 2rem;
    }
}

@media (max-width:1027px) {
    .catalog {
        grid-template-columns: repeat(3, 25rem);
        column-gap: 0.5rem;
        row-gap: 3rem;
    }

    .ashka5 {
        display: none;
    }

    .topnav {
        justify-content: flex-start;
    }

    .topnav__rightside {
        margin-left: 5rem;
    }
}





@media (max-width:985px) {
    .catalog__card img {
        width: 15rem;
        height: 20rem;
        object-fit: cover;
    }

    .drop-rec {
        font-size: 1.6rem;
        padding: 0 0rem 0.3rem 0rem;
        width: 14rem;
        height: fit-content;
    }

    .catalog__card {
        font-size: 1.6rem;
        width: 16rem;
        height: 32rem;
        object-fit: cover;
    }

    .filter__buttons {
        width: 12rem;
    }

    .catalog {
        grid-template-columns: repeat(3, 20rem);
        column-gap: 2rem;
        row-gap: 3rem;
    }

    .header__text {
        font-size: 1rem;
    }

    .header {
        padding: 1rem 5rem;
    }

    .logo {
        width: 3rem;
        height: 3rem;
    }

    .line-logo {
        margin: 2rem 1rem;
    }

    .topnav {
        font-size: 1.5rem;
        width: 80%;
        align-self: center;
    }

    .topnav__rightside {
        padding-top: 1rem;
    }


    .topnav__rightside p {
        padding: 0 0.5rem 0 0;
    }

    .topnav__rightside__button {
        width: 10rem;
        padding-left: 1rem;
    }

    .navbar {
        font-size: 1.6rem;
        margin-top: 1rem;
    }

    .navbar a {
        font-size: 1.6rem;
    }

    .navbar__hr {
        width: 70%;

    }

}

@media (max-width:873px) {

    .catalog {
        grid-template-columns: repeat(3, 15rem);
        column-gap: 4rem;
        row-gap: 3rem;
        margin: 0;
    }

    .footer__nav {
        grid-template-areas: "footer1 footer2""footer3 footer4";
        grid-template-columns: repeat(2, 25rem);
        grid-template-rows: 25rem;
        justify-content: center;
    }

    .topnav__rightside {
        padding: 1rem 0 0 0;
    }

    .ashka4 {
        display: none;
    }

    .footer1 {
        grid-area: footer1;
    }

    .footer2 {
        grid-area: footer2;
    }

    .footer3 {
        grid-area: footer3;
    }

    .footer4 {
        grid-area: footer4;
    }

    .footer__list ul {
        justify-content: space-around;
    }

    .footer__downlinks {
        grid-column: 1/3;
        display: flex;
        justify-content: space-between;
    }

}

@media (max-width:856px) {
    .topnav__rightside {
        margin-left: 0;
    }
}

@media (max-width:787px) {

    .catalog__card img {
        width: 13rem;
        height: 20rem;
        object-fit: cover;
    }

    .catalog__card {
        height: 35rem;
    }

    .catalog {
        grid-template-columns: repeat(3, 16rem);
        column-gap: 2rem;
        row-gap: 1rem;
        margin: 0;
    }

    .topnav__rightside {
        margin-left: 0;
    }

    .navbar {
        margin-right: 1rem;
    }

    .ashka3 {
        display: none;
    }

    .header__text {
        font-size: 1rem;
    }

    .header {
        padding: 1rem 5rem;
    }
}

@media (max-width:726px) {

    .catalog__card img {
        width: 13rem;
        height: 20rem;
        object-fit: fill;
    }

    .catalog {
        grid-template-columns: repeat(2, 20rem);
        column-gap: 2rem;
        row-gap: 3rem;
        margin: 0;
    }

    .topnav {
        font-size: 1.5rem;
        width: 100%;
        align-self: center;

    }

    .ashka2 {
        display: none;
    }

    .topnav__rightside {
        margin-left: 0;

    }

    .navbar {
        margin-right: 3rem;
    }

    .ashka3 {
        display: none;
    }

    .header__text {
        font-size: 1rem;
    }

    .header {
        padding: 1rem 5rem;
    }
}

@media (max-width:707px) {
    .topnav {
        display: block;
    }

    .topnav__rightside {
        margin: 0;
        align-items: center;
    }

    .catalog {
        margin-top: 3rem;
    }

    .drop-rec {
        font-size: 1.5rem;
    }
}

@media (max-width:485px) {

    .catalog__card img {
        width: 15rem;
        height: 25rem;
        object-fit: fill;
    }

    .ashka1,
    .ashka11 {
        display: none;
    }

    .phonelogo {
        display: block;
        margin-left: 2.5rem;
    }

    .ico {
        display: none;
    }

    .right-phone-ico {
        display: block;
    }

    .logo {
        display: none;
    }

    .line-logo {
        display: none;
    }

    .catalog {
        grid-template-columns: repeat(2, 18rem);
        column-gap: 2rem;
        row-gap: 3rem;
        margin: 0;
        grid-area: catalog;
        row-gap: 1rem;
        margin: 5rem 3rem;
    }


    .topnav {
        grid-area: topnav;
        justify-content: center;
        font-size: 1.8rem;
        height: 100%;
    }


    .dropdown__mobile {
        display: inline-block;
    }

    .mobile-drop {
        min-width: 35rem;
    }



    .dropmob {
        cursor: pointer;
        background-color: #ffffff;
        border-radius: 0.5rem;
        font-size: 1.9rem;
        font-weight: bold;
        font-family: Oswald, sans-serif;
        text-align: center;
        padding: 0 0rem 0.3rem 0rem;
        display: inline-block;
        width: 35rem;
        height: fit-content;
        transition: background-color 0.2s ease-out,
            color 0.2s ease-out;
    }

    .dropmob:hover {
        text-decoration: none;
        background-color: #009f1c;
    }



    .topnav__title__down p {
        letter-spacing: 0.1rem;
    }

    .topnav__title__down h3 {
        letter-spacing: 0.2rem;
        margin-top: 0;
    }

    .topnav__leftside {
        margin-left: 3rem;
    }

    .topnav__title h3 {
        margin-bottom: 1rem;
    }


    .filter__clear {
        letter-spacing: 0.3rem;

    }

    .topnav {
        margin-bottom: 3rem;
    }

    .filter__clear:hover {
        text-decoration: underline;
    }

    .collect-filters:hover {
        text-decoration: none;
        background-color: #009f1c;
    }

    .topnav__title a {
        margin: 0;
    }

    .topnav__title {
        margin-left: 5rem;
        margin-bottom: 1rem;
    }

    .content {
        display: grid;
        width: 100%;
        height: 100%;
        grid-template-areas: "topnav topnav"
            "catalog  catalog";
        grid-template-columns: 1fr 1fr;
    }

    .navbar {
        display: none;
    }

    .catalog__card {
        height: 100%;
    }

    .topnav__rightside {
        display: none;
    }

    .ico-phone {
        display: flex;
        padding: 1rem 1rem 1rem 4rem;
    }

    .search {
        display: none;
    }


    .header {
        padding: 1rem;
    }

    .nav-menu {
        height: 4rem;
        width: 4rem;
        display: block;
    }

    .footer__nav {
        display: block;
        margin-left: 3rem;
    }

    .footer__downlinks {
        display: block;
        line-height: 3rem;
    }
}


@media (max-width:430px) {

    .catalog__card img {
        width: 15rem;
        height: 25rem;
        object-fit: fill;
    }

    .ashka1,
    .ashka11 {
        display: none;
    }

    .phonelogo {
        display: block;
        margin-left: 2.5rem;
    }

    .drop-categ {
        margin: 1rem 6rem 1rem 7rem;
    }

    .ico {
        display: none;
    }

    .right-phone-ico {
        display: block;
    }

    .logo {
        display: none;
    }

    .line-logo {
        display: none;
    }

    .catalog {
        grid-template-columns: repeat(2, 18rem);
        column-gap: 2rem;
        row-gap: 3rem;
        margin: 0;
        grid-area: catalog;
        row-gap: 1rem;
        margin: 5rem 3rem;
    }


    .topnav {
        grid-area: topnav;
        justify-content: center;
        font-size: 1.8rem;
        height: 100%;
    }


    .dropdown__mobile {
        display: inline-block;
    }

    .mobile-drop {
        min-width: 35rem;
    }

    .dropmob {
        cursor: pointer;
        background-color: #ffffff;
        border-radius: 0.5rem;
        font-size: 1.9rem;
        font-weight: bold;
        font-family: Oswald, sans-serif;
        text-align: center;
        padding: 0 0rem 0.3rem 0rem;
        display: inline-block;
        width: 35rem;
        height: fit-content;
        transition: background-color 0.2s ease-out,
            color 0.2s ease-out;
    }

    .dropmob:hover {
        text-decoration: none;
        background-color: #009f1c;
    }



    .topnav__title__down p {
        letter-spacing: 0.1rem;
    }

    .topnav__title__down h3 {
        letter-spacing: 0.2rem;
        margin-top: 0;
    }



    .topnav__title h3 {
        margin-bottom: 1rem;
    }


    .filter__clear {
        letter-spacing: 0.3rem;

    }

    .topnav {
        margin-bottom: 3rem;
    }

    .filter__clear:hover {
        text-decoration: underline;
    }

    .collect-filters:hover {
        text-decoration: none;
        background-color: #009f1c;
    }

    .topnav__title a {
        margin: 0;

    }

    .topnav__title {
        justify-content: center;
        margin-bottom: 1rem;
        margin-left: 0;
        width: 90%;
    }

    .content {
        display: grid;
        width: 100%;
        height: 100%;
        grid-template-areas: "topnav topnav"
            "catalog  catalog";
        grid-template-columns: 1fr 1fr;
    }

    .navbar {
        display: none;
    }

    .catalog__card {
        height: 100%;
    }

    .topnav__rightside {
        display: none;
    }

    .ico-phone {
        display: flex;
        padding: 1rem 1rem 1rem 4rem;
    }

    .search {
        display: none;
    }


    .header {
        padding: 1rem;
    }

    .nav-menu {
        height: 4rem;
        width: 4rem;
        display: block;
    }

    .footer__nav {
        display: block;
        margin-left: 3rem;
    }

    .footer__downlinks {
        display: block;
        line-height: 3rem;
    }
}




@media (max-width: 375px) {
    .ico-phone {
        padding: 1rem 1.5rem 1rem 2rem;
    }

    .catalog__card img {
        width: 14rem;
        height: 25rem;
        object-fit: fill;
    }

    .catalog {
        margin-left: 1.5rem;
    }


    .dropmob {
        cursor: pointer;
        background-color: #ffffff;
        border-radius: 0.5rem;
        font-size: 1.9rem;
        font-weight: bold;
        font-family: Oswald, sans-serif;
        text-align: center;
        padding: 0 0rem 0.3rem 0rem;
        display: inline-block;
        width: 30rem;
        height: fit-content;
        transition: background-color 0.2s ease-out,
            color 0.2s ease-out;
    }

    .mobile-drop {
        min-width: 25rem;
    }

    .drop-categ {
        margin: 1rem 5rem 1rem 5rem;
    }

    .phonelogo {
        display: block;
        margin-left: 1rem;

    }

    .topnav__title h3 {
        margin-left: 1rem;
        margin-right: 1rem;
        font-size: 2rem;
    }

    .collect-filters {
        padding: 0 2rem 0.4rem 0rem;
        display: inline-block;
        width: 27rem;
        transition: background-color 0.2s ease-out,
            color 0.2s ease-out;
        letter-spacing: 0.1rem;
    }

    .topnav__title__down h3 {
        font-size: 1.7rem;
        margin-top: 1rem;
    }



    .footer__list ul {
        display: block;
        line-height: 3.5rem;
    }
}



@media (max-width: 360px) {

    .ico-phone {
        padding-left: 1rem;
        padding-right: 1rem;
    }

    .catalog__card img {
        width: 14rem;
        height: 25rem;
        object-fit: fill;
    }

    .catalog {
        grid-template-columns: repeat(2, 16rem);
        column-gap: 1rem;
        grid-area: catalog;
        row-gap: 3rem;
        margin: 5rem 1rem;
    }

    .topnav__title {
        width:max-content;
    }


    .dropmob {
        cursor: pointer;
        background-color: #ffffff;
        border-radius: 1rem;
        font-size: 1.9rem;
        font-weight: bold;
        font-family: Oswald, sans-serif;
        text-align: center;
        padding: 0 0rem 0.3rem 0rem;
        display: inline-block;
        width: 24rem;
        margin-left: 2rem;
        height: fit-content;
        transition: background-color 0.2s ease-out,
            color 0.2s ease-out;
    }

    .mobile-drop {
        min-width: 15rem;
        max-width: 24rem;
        margin-left: 2rem;
        margin-right: 1rem;
        border-radius: 0.5rem;
    }

    .drop-categ {
        margin-left: 2rem;
    }

    .phonelogo {
        display: block;
        margin-left: 1rem;
        margin-top: 0.5rem;
        width: 12rem;
        height: 3rem;
    }
    

    .header {

        padding: 1rem 2rem 0 2rem;
    }
}



@media (max-width: 325px) {

    .ico-phone {
        padding-left: 1rem;
        padding-right: 1rem;
    }



    .catalog__card img {
        width: 13rem;
        height: 20rem;
        object-fit: contain;
    }

    .catalog__card {
        width: 10rem;
    }

    .catalog {
        grid-template-columns: repeat(2, 14rem);
        column-gap: 1rem;
        grid-area: catalog;
        row-gap: 3rem;
        margin: 5rem 1rem;
    }

    .topnav__title {
        width: 100%;
    }


    .topnav__title h3 {
        margin-right: 0;
        margin-left: 0;
    }


    .dropmob {
        cursor: pointer;
        /* background-color: #ffffff; */
        background-color: #8f1632;
        border-radius: 1rem;
        font-size: 1.9rem;
        font-weight: bold;
        font-family: Oswald, sans-serif;
        text-align: center;
        padding: 0 0rem 0.3rem 0rem;
        display: inline-block;
        width: 24rem;
        height: fit-content;
        transition: background-color 0.2s ease-out,
            color 0.2s ease-out;
        margin: 0;
    }

    .mobile-drop {
        min-width: 15rem;
        max-width: 24rem;
        margin-left: 2rem;
        margin-right: 1rem;
        border-radius: 0.5rem;
    }

    .drop-categ {
        margin-left: 2rem;
    }

    .phonelogo {
        display: block;
        margin-left: 1rem;
        margin-top: 0.5rem;
        width: 12rem;
        height: 3rem;

    }

    .topnav__title {
        width: max-content;
    }

    .header {

        padding: 1rem 1rem 0 1rem;
    }
}